plot_contour_combined_ALTlayout.svg
plot_nh4_patterns_edited.png
plot_tn_patterns.svg
plot_nh4_patterns.svg
plot_contour_combined_ALTlayout_edited.png
plot_compare_NO3conc_sources.png
plot_compare_NO3conc_sources_SP.png
plot_compare_NO3conc_sources_MB.png
table_SI_grabDepths.csv
table_SI_sensorDepths.csv
suppInfo_siteMap.jpg
plot_no3_decline.svg
